*{
  box-sizing: border-box;
}
.ul{
  list-style: none;
}
.t-dark{
  color: #312828 ;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #7ca740;
}
a.a-nav{
  color: #856a6a;
}
a.sdt{
  color: #000;
}
a.name-cart{
  color: #334862;
  overflow: hidden;
  text-overflow: clip; 
  /* line-height: .9rem; */
}
a.name-cart:hover,
.hv000:hover{
 color: #000 !important;
}

.pb-41{
  padding-bottom: 41px !important;
}
.a-cart{
  text-decoration: none;
  color: #334862;
  font-size: .9em;
  overflow: hidden;
  text-overflow: clip;
}
.a-cart:hover{
  color: #000;
}
.show{
  color: #334862;
  border: none;
  background-color: #fff;
}
.show:hover{
  color: #000;
}
.search{
  position: relative;
}
.s{
  position: absolute;
  top:50px;
  left: 0px;
  width: 270px;
  height: 90px;
  z-index: 10;
  border: 2px solid #cbba9c;
  background-color: white;
  display: none;
}
.s:after{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border: 13px solid transparent;
  border-bottom: 13px solid #fff;
  top: -20px;
  left: 17px;
}
.s::before{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border:10px solid transparent;
  border-bottom: 10px solid #cbba9c;
  top:  -20px;
  left: 20px;
  display: block;
}
.search:hover .s{
  display: block;
}
.thanhtoan{
  background-color: #d26e4b;
}
.thanhtoan:hover{
  background-color: #a8583c;
}
.apdung{
  background-color: #f9f9f9;
  color: #666;
  font-size: .9em;
  border: 1px solid #666;
}
.apdung:hover{
  background-color: #c7c7c7;
}
.update{
  background-color:  #c5c2bb;
  color: #fff;
  font-size: .9em;
}
.update:hover{
  background-color: #cbba9c;
}
.sp{
  background-color: #fff;
  color: #c7bfb1;
  border: 1px solid #c7bfb1;
}
.loc{
  font-size: 13px;
  border-radius: 20px;
  background-color: #666666;
  color: #fff;
}
.loc:hover{
  cursor: pointer;
  background-color: #525252;
  color: #fff;
}
.sp:hover{
  background-color: #c7bfb1 !important;
  color:#fff;
}
.home:hover{
  color: #111 !important;
}
li a{
  font-weight: 500;
}

.zoom {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.zoom:hover {
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
}

/* cart */
.cart{
  position: relative;
  z-index: 2;
  width: 26px;
  height: 26px;
  border: 3px solid #cbba9c;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #cbba9c;
}
.cart-mb{
  position: relative;
  z-index: 2;
  width: 26px;
  height: 26px;
  border: 3px solid #cbba9c;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #cbba9c;
}
.o {
  position: absolute;
  z-index: 1;
  top: -9px;
  left: 4px;
  width: 14px;
  height: 9px;
  border: 3px solid #cbba9c;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: 0;
}

.cart{
  position: relative;
}
.cart-header_gio{
  position: absolute;
  top:40px;
  right: 0px;
  width: 250px;
  min-height: 250px;
  z-index: 10;
  border: 2px solid #cbba9c;
  background-color: white;
  padding-right: 30px;
  display: none;
}
/* .cart-header_gio-mb{
  position: fixed;
  top:0;
  right: 0px;
  width: 250px;
  min-height: 250px;
  z-index: 20;
  background-color: white;
  overflow: hidden;
  display: none;
} */
/* @media (max-width: 768px){
  .cart-mb:hover .cart-header_gio-mb{
    width: 250px;
    display: block;
  }
} */
@media (min-width: 769px){
  .cart:hover .o{
    top: -10px;
  }
  .cart:hover{
    background-color: #cbba9c ;
    color: #fff;
  }
}
#cart:hover .cart-header_gio{
  display: block;
}
.cart-header_gio:after{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border: 13px solid transparent;
  border-bottom: 13px solid #fff;
  top: -20px;
  right: 37px;
}
.cart-header_gio::before{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border:10px solid transparent;
  border-bottom: 10px solid #cbba9c;
  top:  -20px;
  right: 40px;
}
.btn-cart{
  font-weight: 400;
}
.table-cart th{
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}
.table-cart td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a.remove, a.icon-remove {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 15px !important;
  line-height: 19px !important;
  border-radius: 100%;
  color: #ccc;
  font-weight: bold;
  text-align: center;
  border: 2px solid currentColor;
}
a.remove:hover{
  color: #000;
}
.row{
  margin: 0 !important;
  --bs-gutter-x: 0;
}
/* thanh toan */
.dashed {
  border-style: dashed;
  border-color: #d26e4b;
}
.solid {
  border-style: solid;
  border-color: #d26e4b;
}
.bor_1{
  border-bottom: 1px solid #c2b5b0;
}
.bor_2{
  border-bottom: 2px solid #c2b5b0;
}
/* header */
.menu-header.top{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 4;
}
.nav-item_header-mb{
  font-size: .8em ;
  position: relative;
  border-bottom: .1px solid #cbba9c;
}
.form-control {
  /* width: auto; */
  display: inline;
}
.navbar-nav-scroll {
  max-height: 300px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.phone{
  background-image: url('./images/header/phone.svg');
  font-size: 21px;
  width: 40px;
}
.nav-item_header-mb .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #212529;
  text-align: left;
  background-color: #f4f4f4;
  border: 0;
  border-radius: 0;
}
/* .nav-item_header-mb .accordion-button::after{
  height: 1.95rem;
} */
/* messenger */
.messenger{ 
  position: fixed;
  top: 30%;
  right: 0px;
  z-index: 1;
}
.box-call{
  display: none;
}
.in-call{
  display: none;
}

@media (max-width: 500px) {
  .call{
    position: fixed !important;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-call{
    position: fixed !important;
    display: block;
    bottom: 0px;
    left: 0px;
    border: 2px solid #cc9a00;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 3;
  }
  .in-call{
    background-color: rgba(204, 153, 0, 0.4) ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 3;
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  .box-call i{
   border-radius: 50%;
  }
}

.back-to-top {
  position: fixed !important;
  bottom: 50px;
  right: 15px;
  display: none;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  border:2px solid rgb(59, 41, 41);
  color: rgb(59, 41, 41);
  font-size: 17px;
  z-index: 3;
  transition: all ease 0.5s;
}
.back-to-top:hover{
  background-color: #c4a56f;
}
.back-to-top.active {
  display: block;
}
/* gioi thieu */
.bg-gioithieu{
  background-image: url(./images/gioithieu/header-gioithieu.jpg);
  background-position: 50% 50%;
  width: 100%;
  height: 180px;
}
.icon-logo{
  position: relative;
  padding: 30px;
}
.icon-logo:before {
  position: absolute;
  bottom: 0.75rem;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: linear-gradient(to right,#76a03f 0%,#76a03f 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,#76a03f 75%);
}
.icon-logo:after {
  position: absolute;
  bottom: 0;
  content: '\f296';
  font-family: FontAwesome;
  left: 50%;
  transform: translateX(-50%);
  font-size: 23px;
  line-height: 1;
  color: #76a03f;
}
/* slider */
.slick-next {
  right: 20px !important;
  z-index: 2;
}
.slick-prev {
  left: 20px !important;
  z-index: 2;
}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: red !important;
  border: none;
  outline: none;
}
.mua-ngay{
  border: 2px solid #cbba9c;
}
.mua-ngay:hover{
  background-color:  #cbba9c;
  color: #fff
}
.slider1{
  background-image: url(./images/sliders/slider1.jpg);
  position: relative;
}
.slider1-text{
  position: absolute;
  width: 500px;
  top: 33%;
  left: 15%;
  border-left: 2px solid #cbba9c;
}
.slider1-btn{
  position: absolute;
  top: 60%;
  left: 15%;
}
.slider2{
  background-image: url(./images/sliders/slider2.jpg);
  position: relative;
}
.slider2-text {
  position: absolute;
  width: 50%;
  bottom: 10%;
  right: 0%;
  border-left: 2px solid #cbba9c;
}
/* more */
.more1{
  background-image: url(./images/sliders/more1.jpg);
  height: 450px;
  position: relative;
}
.more1:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more1-text{
  position: absolute;
  bottom: 10%;
  right: 0%;
  text-align: left;
}
.more2{
  background-image: url(./images/sliders/more2.jpg);
  position: relative;
  height: 225px;
}
.more2:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more2-text{
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
}
.more2-1{
  background-image: url(./images/sliders/more2-1.jpg);
  height: 225px;
}
.more2-1:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more3{
  background-image: url(./images/sliders/more3.jpg);
  height: 450px;
  position: relative;
}
.more3:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more3-text{
  position: absolute;
  bottom: 10%;
  right: 0%;
  text-align: left;
}
/* product */
.product-item{
  position: relative;
  padding-bottom: 10px;

}
.product-item .cart{
  position: absolute;
  left: 10px;
  bottom: 100px;
  display: none;
}
.product-item:hover .cart{
  display: block;
}
.name-cart{
  font-size: 0.9em;
}
.sale-off{
  position: absolute;
  top: 5%;
  left: -10px;
  width: 45px;
  height: 45px;
  z-index: 2;
  line-height: 45px;
  background-color: #cbba9c;
  border-radius: 50%;
}

.product-item:hover {
  box-shadow: 0px 20px 35px 10px rgb(0 0 0 / 30%);
  margin-top: -10px;
}
/* slider product */
.product-slider {
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 30%);
  margin-bottom: 30px;
}
.sale-off-slider{
  position: absolute;
  top: 5%;
  left: 0px;
  width: 45px;
  height: 45px;
  z-index: 2;
  line-height: 45px;
  background-color: #cbba9c;
  border-radius: 50%;
}
.product_meta>span {
  display: block;
  border-top: 1px dotted #ddd;
  padding: 5px 0;
}
.doc-tiep a{
  background-color: #8a7e69;
  color: #fff;

}
.doc-tiep a:hover{
  color: #fff;
  background-color: #584a31;
  border-color: rgba(0,0,0,0.05); 
}
/* blog */
.item-blog:hover{
  cursor: pointer;
}
.img-blog img{
  width: 375px;
  height: 300px;
}
.blog-doctiep{
  position: relative;
  border: 2px solid #cbba9c;
  color: #000;
  font-weight: 500;
  font-size: 0.9em;
  padding: 12px 30px;
}
.blog-doctiep::after{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 95%;
  height: 87%;
  border: 2px solid #cbba9c;
  display: none;
  z-index: 11;
}
.blog-doctiep:hover{
  background-color:  #000;
  color: #fff;
}
.blog-doctiep:hover::after{
  display: block;
}
/* footer */
.text-f{
  color: #a4a4a4;
}
.p-70{
  padding: 70px;
}
.bg-f{
  background-image: url(./images/footer/bg-f.jpg);
  background-position: 50% 50%;
  background-size: cover !important;
  opacity: 1;
}
.plane{
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  color: #7ca740;
}
.plane:hover{
  cursor: pointer;
}
/*  */
nav i{
  color: #cbba9c;
}
nav i.search{
  color: #fff;
}
.copyright-f{
  background-color: #000;
  padding: 15px 0px;
}
.icon-social{
  display: block;
  font-size: 25px;
}

/* hot */

/* .hot .product-item {
  width: 280px;
  height: 300px;
} */
span.product-title{
  line-height: 14px;
  max-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.hot .product-item {
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 15%);
  margin-top: 0;
}
.hot .product-item:hover {
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 30%);
  margin-top: 0;
}
.nav-hot.navbar>.container-fluid{
  justify-content: end;
}
del span{
  opacity: .6;
}
/* lien he */
.input-lienhe{
}
.input-lienhe input{

}
.input-lienhe textarea{
  
}
.input-lienhe textarea,
.input-lienhe input{
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: .97em;
  width: 100%;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.input-lienhe input:focus {
  border-color: #f8b742;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
}
.input-lienhe:focus input {
  border-color: #f8b742;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
}
.t-over{
  line-height: 2rem;
  max-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.brands-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 5;
  border: 2px solid #cbba9c;
  background-color: #fff;
  width: 200%;
  display: none;
}
.brands-menu:after{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border: 13px solid transparent;
  border-bottom: 13px solid #fff;
  top: -20px;
  left: 17px;
}
.brands-menu::before{
  content:"";
  width:0;
  height:0;
  position:absolute;
  border:10px solid transparent;
  border-bottom: 10px solid #cbba9c;
  top:  -20px;
  left: 20px;
  display: block;
}
a.brands-item{
  color: rgba(102,102,102,0.85);
  display: block;
}
a.brands-item:hover{
  background-color: rgba(228, 209, 209, 0.85);
  color: #000;
}
.brands:hover .brands-menu{
  display: block;
}
.hot a.name-cart{
  line-height: 2rem;
  max-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/* boostrap */
@media (min-width:800px) {
  .menu-header{
    background-color: #0a0a0a;
  }
  .navbar-light .navbar-nav .nav-link.active, 
  .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
  }
  .navbar {
    background-color: #0a0a0a;
  }
  .t{
    position: relative;
  }
  .t::before{
    position: absolute;
    content: "";
    top: 40%;
    left: 0px;
    width: 1px;
    height: 15px;
    background-color: #eed9d9;
    z-index: 1;
  }
  .t::before:first-child{
    display: none;
 }
  .gia{
    color: rgb(102 102 102 / 85%) ;
  }
  .gach{
    position: relative;
    color: rgb(102 102 102 / 85%);
  }
  .gach::after{
    position: absolute;
    content: "";
    top: 25%;
    right: 0px;
    width: 1px;
    height: 20px;
    background-color: #856a6a;
    z-index: 2;
  }
  a.a-nav{
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 0.9em;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  a.a-nav-mb{
    color: #fff;
    font-family: "Muli", sans-serif;
    letter-spacing: .02em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  a.a-nav:hover{
    color: #7ca740;  
  }
  a.a-nav:hover i.a-nav{
    color: #7ca740;
  }
  a.a-nav:hover .dropdown-menu{
    display: block;
  }
  i.a-nav{
    color: #fff;
  }
}
@media (max-width:800px) {
  .navbar-nav-scroll {
    width: 80%;
  }
  a.a-nav{
    color: rgb(161, 144, 144) ;
  }
  a.a-nav:hover{
    color: #000;
  }
  a.name-cart{
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  /* header hot */
.navbar-collapse {
  position: fixed;
  z-index: 20;
  width: 250px;
  top: 0;
  left: 0;
  overflow: auto;
}
.navbar-toggler{
  display: flex;
  justify-content: center;
}

}
@media (min-width: 576px){
  .modal-dialog {
      max-width: 800px;
  }
}
.w-90{
  width: 90% ;
}
.modal-body {
  padding: 1rem;
}
.cart-quantity-input {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
/* ZOOM IMG CSS */
figure.containerZoom{
  background-position:50% 50%;
  position:relative;width:100%;
  overflow:hidden;cursor:zoom-in;
  margin:0
}
figure.containerZoom img{
  transition:opacity .5s;
  display:block;width:100%
}
figure.containerZoom.active img{
  opacity:0
}

/* select satrt */
.sta .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: end;
}
.sta .rating>span {
  display: inline-block;
  position: relative;
}
.sta .rating>span:hover,
.sta .rating>span:hover~span {
  color: transparent;
}
.sta .rating>span:hover:before,
.sta .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #d26e4b;
  cursor: pointer;
}
.sta span {
  font-size: 30px;
  color: #ddd;
  text-shadow: 0px 1px 1px #000;
}
.sta .wrapper {
  height: 10px;
  width: 100%;
  opacity: 0.7;
  box-shadow: 0px 1px 1px #000;
  left: 0px;
  right: 0px;
  position: absolute;
}
.sta .selected{color:#d26e4b;}

/* HOT-HEDAER */
.hot-mySidenav-bg{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(109, 109, 109,.8);
  opacity: .5;
  z-index: 19;
}
.hot-mySidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255,255,255,.95);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the hot-mySidenav */
}
.hot-mySidenav .hot-mySidenav-close {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  opacity: .7;
  color: #fff;
  font-weight: 300;
  display: block;
  font-family: Arial, monospace;
  text-decoration: none;
}
/* mobile tablet */
@media (max-width: 768px) {
  .hot-mySidenav-filter{
    display: block;
  }
  .hot-mySidenav-pc{
    display: none;
  }
}
/* pc */
@media (min-width: 769px) {
  .hot-mySidenav-filter{
    display: none !important;
  }
  .hot-mySidenav-pc{
    display: block;
  }
}

/* header */

/* ============== */
.mySidenav-bg{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(109, 109, 109,.8);
  opacity: .5;
  z-index: 19;
}
.mySidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255,255,255,.95);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the mySidenav */
}
.mySidenav .mySidenav-close {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  opacity: .7;
  color: #fff;
  font-weight: 300;
  display: none;
  font-family: Arial, monospace;
  text-decoration: none;
}
/* mobile tablet */
@media (max-width: 768px) {
  .mySidenav-filter{
    display: block;
  }
  .mySidenav-pc{
    display: none;
  }
}
/* pc */
@media (min-width: 769px) {
  .mySidenav-filter{
    display: none !important;
  }
  .mySidenav-pc{
    display: block;
  }
  .mySidenav-close{
    display: none !important;
  }
}
/* === */
/* mb carrt */
.mb-mySidenav-bg{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(109, 109, 109,.8);
  opacity: .5;
  z-index: 19;
}
.mb-mySidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(255,255,255,.95);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the mb-mySidenav */
}
.mb-mySidenav .mb-mySidenav-close {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  opacity: .7;
  color: rgb(185, 164, 164);
  font-weight: 300;
  display: none;
  font-family: Arial, monospace;
  text-decoration: none;
}
/* mobile tablet */
@media (max-width: 768px) {
  .mb-mySidenav-filter{
    display: block;
  }
}
/* pc */
@media (min-width: 769px) {
  .mb-mySidenav-filter{
    display: none !important;
  }
}